In [2]:
##employeepay

In [3]:
data=[{'id':'001','name':'Mary','pay_rate':15.00,'hour':40},
     {'id':'002','name':'John','pay_rate':22.00,'hour':25},
     {'id':'003','name':'Bob','pay_rate':35.00,'hour':4},
     {'id':'004','name':'Mel','pay_rate':43.00,'hour':62}]

In [4]:
data

[{'id': '001', 'name': 'Mary', 'pay_rate': 15.0, 'hour': 40},
 {'id': '002', 'name': 'John', 'pay_rate': 22.0, 'hour': 25},
 {'id': '003', 'name': 'Bob', 'pay_rate': 35.0, 'hour': 4},
 {'id': '004', 'name': 'Mel', 'pay_rate': 43.0, 'hour': 62}]

In [5]:
type(data)

list

In [6]:
data[0]

{'id': '001', 'name': 'Mary', 'pay_rate': 15.0, 'hour': 40}

In [7]:
data[1]

{'id': '002', 'name': 'John', 'pay_rate': 22.0, 'hour': 25}

In [8]:
data[2]

{'id': '003', 'name': 'Bob', 'pay_rate': 35.0, 'hour': 4}

In [12]:
len(data)

4

In [11]:
for i in data:
    print(i)

{'id': '001', 'name': 'Mary', 'pay_rate': 15.0, 'hour': 40}
{'id': '002', 'name': 'John', 'pay_rate': 22.0, 'hour': 25}
{'id': '003', 'name': 'Bob', 'pay_rate': 35.0, 'hour': 4}
{'id': '004', 'name': 'Mel', 'pay_rate': 43.0, 'hour': 62}

In [13]:
for i in range(4):
    print(i)

0
1
2
3

In [24]:
for wanida in data:
     print(wanida['hour'])

40
25
4
62

In [ ]:
for employee in data:
    if data[]['hours']

In [19]:
data[0]['hour']

40

In [26]:
for employee in data:
    print(employee['pay_rate'])

15.0
22.0
35.0
43.0

In [31]:
a=5
if a==5:
    for employee in data: 
        print(employee['name'])

Mary
John
Bob
Mel

In [32]:
for employee in data: 
    print (employee['pay_rate'])

15.0
22.0
35.0
43.0

In [40]:
for employee in data:
    if employee['hour'] <= 40:
        print(employee['pay_rate'] * employee['hour'])

600.0
550.0
140.0

In [49]:
for employee in data:
    if employee['hour']>=40:
            salary=employee['pay_rate'] * employee['hour']+ (employee['hour']-40)*1.5 *employee['pay_rate'] 
    else: 
            salary=employee['pay_rate'] * employee['hour']
    print(employee['name']+': $', salary)

Mary: $ 600.0
John: $ 550.0
Bob: $ 140.0
Mel: $ 4085.0